{% extends 'main/base.html' %}
{% block title%} home page {%endblock%}
{% block username%} {{username}} {%endblock%}
{% block content%}
<div class="pagetitle">
    <h1>Home Page</h1>

</div><!-- End Page Title -->

<section class="section">
    <h1>Welcome {{username}}</h1>
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Example Card</h5>
                    <p>This is an examle page with no contrnt. You can use it as a starter for your custom
                        pages.</p>
                </div>
            </div>

        </div>

        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Example Card</h5>
                    <p>This is an examle page with no contrnt. You can use it as a starter for your custom
                        pages.</p>
                </div>
            </div>

        </div>
    </div>

</section>
{%endblock%}