{% extends "main/base.html" %}
{%block title%} View registers {%endblock%}
{% block scripts_head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
<link rel="stylesheet" type="text/css"
    href="https://cdn.datatables.net/responsive/2.3.0/css/responsive.dataTables.min.css" />


{% endblock %}
{%block content%}

<div class="pagetitle">
    <h1>View Patients</h1>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">

        <div class="col-12">

            <div class="card" style="width:100%;">
                <div class="card-body">
                    <h5 class="card-title">Patients table</h5>

                    <table class="table  table-hover patienTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="th-sm">Id</th>
                                <th class="th-sm">Name</th>
                                <th class="th-sm">Sex</th>
                                <th class="th-sm">Age</th>
                                <th class="th-sm">Wight</th>
                                <th class="th-sm">Height</th>
                                <th class="th-sm">Nss</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in ls %}

                            <tr>
                                <td>{{item.id}}</td>
                                <td><a href="/viewPatient/{{item.id}}">{{item.name}}</a></td>
                                {%if item.sex == False %}
                                <td>Male</td>
                                {% else %}
                                <td>Female</td>
                                {%endif%}
                                <td>{{item.age}}</td>
                                <td>{{item.weight}}</td>
                                <td>{{item.height}}</td>
                                <td>{{item.nss}}</td>
                            </tr>
                            {% endfor%}
                        </tbody>

                    </table>
                </div>
            </div>


        </div>
    </div>

</section>
{%endblock%}

{% block scripts_body%}
<script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script src="//cdn.datatables.net/responsive/2.3.0/js/dataTables.responsive.min.js"></script>
<script>
    $(document).ready(function () {
        $('.patienTable').DataTable({
            responsive: true
        });
    });
</script>
{% endblock %}